Source: tailnew
Section: extra
Priority: optional
Maintainer: Igor Shishkin <teran@yandex-team.ru>
Vcs-Git: git://github.yandex-team.ru/SaaS/tailnew.git
Vcs-Browser: https://github.yandex-team.ru/SaaS/tailnew

Package: tailnew
Section: extra
Priority: optional
Architecture: all
Depends: bash, coreutils, mawk | gawk
Description: Simple utility shows new lines from the last run
 .

